# Dependencies
node_modules/

# package-lock
package-lock.json

# tsc rootDir + buildinfo + config + typedoc
src/
*.tsbuildinfo
tsconfig.json
typedoc.json

# development files
.eslintignore
.eslintrc
.prettierrc
.prettierignore

# data dirs
data/
temp/

# Created batch/shell files
start_citrine.*

# extra stuff
*.txt

# Editors
.vscode
.idea
