{
    "tabWidth": 2,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "printWidth": 120,
    "overrides": [
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
